{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
  
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1>Login</h1>
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
    </div>
  </div>
{% endblock %}