{% extends "base.html" %}
{% load static %}

{% block title %}Chat room for "{{ course.title }}"{% endblock %}

{% block content %}
<div class="container">
  <div id="chat" class="chat">
  </div>

  <form id="chat-form">
      <input id="chat-message-input" type="text" class="form-control">
      <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</div>

{% endblock %}

{% block bottom_scripts %}
{{ block.super }}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock bottom_scripts %}